<div id="accountProfileColumn">
	<div class="profileData">
		<div class="profileAvatar" style="background-image: url(/temporaryDevAssets/profiles/myAvatar.jpg);"></div>
		<p class="profileName">Brian Feeney</p>
		<p class="profileAccount">@brian</p>
		<p class="profileDescription">Drawing a seemingly insignificant triangle in the dirt</p>
	</div>
	<div class="accountData">
		<div class="followingData">
			<p class="label">Following</p>
			<p class="count">304</p>
		</div>
		<div class="followingData">
			<p class="label">Followers</p>
			<p class="count">287</p>
		</div>
	</div>
</div>