<div id="header">
	<a href="/">Feeeds</a>
	<div class="currentAccount">
		<div class="profileAvatar" style="background-image: url(/temporaryDevAssets/profiles/myAvatar.jpg)"></div>
		<p class="profileName">Brian Feeney</p>
	</div>
</div>