<div id="readerNav">
	<div class="header">
		<p>People</p>
		{{svg-jar "settings-gear"}}
	</div>

	<ul class="primaryList">
		<li class="active">
			<span class="postCount">27</span>
			<p class="groupName">All</p>
		</li>
		<li>
			<span class="postCount">13</span>
			<p class="groupName">Friends</p>
			<ul class="secondaryList">
				<li>
					<span class="postCount">27</span>
					<div class="profileAvatar" style="background-image: url('temporaryDevAssets/profiles/profile2.jpg');"></div>
					<p class="feedName">Scotty Mayberry</p>
				</li>
				<li>
					<span class="postCount">27</span>
					<div class="profileAvatar" style="background-image: url('temporaryDevAssets/profiles/profile31.jpg');"></div>
					<p class="feedName">Maryellen Chambers</p>
				</li>
				<li>
					<span class="postCount">27</span>
					<div class="profileAvatar" style="background-image: url('temporaryDevAssets/profiles/profile13.jpg');"></div>
					<p class="feedName">Nelson Faulken</p>
				</li>
				<li>
					<span class="postCount">27</span>
					<div class="profileAvatar" style="background-image: url('temporaryDevAssets/profiles/profile5.jpg');"></div>
					<p class="feedName">Bobbie Burchette</p>
				</li>
			</ul>
		</li>
		<li>
			<span class="postCount">4</span>
			<p class="groupName">Designers</p>
		</li>
		<li>
			<span class="postCount">3</span>
			<p class="groupName">Ungrouped</p>
		</li>
	</ul>

	<div class="organizeFeeds">
		<button class="btn-gray btn-small call-to-action">Organize Feeds</button>
	</div>
</div>