#search {
	display: flex;
}

#searchWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#searchFields {
	width: 100%;
	height: 3.5em;
	border-bottom: 1px solid $gray;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	> div {
		overflow: hidden;
		width: 47.75%;
		&:nth-child(1) {
			svg {
				width: 1.5em;
				margin: .75em 1em;
			}
		}
		&:nth-child(2),
		&:nth-child(3) {
			border-left: 1px solid $gray;
		}
		&:nth-child(3) {
			width: 3.5em;
		}
	}
	svg {
		float: left;
		margin: 1em;
	}
	input {
		border: none;
		float: left;
		margin: 0;
		width: 85%;
		margin-top: .3em;
		&:focus {
			outline: none;
		}
	}
}