// Color

$black: #000;
$white: #FFF;

$darkestGray: #212223;
$darkGray: #62676C;
$gray: #EAEDF0;
$lightGray: #FBFBFC;

$blueGray: #94ABB6;

$blue: #B6DAE9;
$red: #E9B6B6;
$yellow: #E8E49A;
$green: #CBE9B6;


// Other

$radius: 5px;