<div id="account">
{{feeeds-nav}}
	
	<div id="accountMain">
		<div class="accountWrapper">
			{{account-profile-column}}

			<div id="accountBody">

				{{account-nav}}

				<div class="accountFeeds">
					<p class="sectionHeading">Your Feeds</p>
					<div class="feedCard">
						<div class="feedAvatar" style="background-image: url(/temporaryDevAssets/profiles/myAvatar.jpg)"></div>
						<p class="feedName">Blog</p>
						<p class="feedPostingFrequency">~5/week</p>
						<button class="btn-gray btn-small active">Following</button>
					</div>
					<div class="feedCard">
						<div class="feedAvatar" style="background-image: url(/temporaryDevAssets/profiles/myAvatar.jpg)"></div>
						<p class="feedName">Photos</p>
						<p class="feedPostingFrequency">~1/day</p>
						<button class="btn-gray btn-small">Follow</button>
					</div>
					<div class="feedCard">
						<div class="feedAvatar" style="background-image: url(/temporaryDevAssets/logos/dribbble.png)"></div>
						<p class="feedName">Dribbble</p>
						<p class="feedPostingFrequency">~3/month</p>
						<button class="btn-gray btn-small active">Following</button>
					</div>
					<div class="feedCard">
						<div class="feedAvatar" style="background-image: url(/temporaryDevAssets/logos/tumblr.png)"></div>
						<p class="feedName">Tumblr</p>
						<p class="feedPostingFrequency">~3/week</p>
						<button class="btn-gray btn-small active">Following</button>
					</div>
					<div class="feedCard">
						<div class="feedAvatar" style="background-image: url(/temporaryDevAssets/logos/cardstack.png)"></div>
						<p class="feedName">CardStack</p>
						<p class="feedPostingFrequency">~1/month</p>
						<button class="btn-gray btn-small">Follow</button>
					</div>

					<div class="feedCard addNew">
						<p>+ Add new feed</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{account-articles-column}}
</div>