<div id="reader">
	{{feeeds-nav}}
	{{reader-nav}}

	<div id="readerArticles">
		<article class="closed">
			<div class="profileAvatar"></div>
			<p class="profileName">Joni Shelnutt</p>
			<h1>This is a closed article</h1>
			<p class="articlePostDate">August 25, 2016</p>
		</article>

		{{article-full}}

		<article class="closed">
			<div class="profileAvatar"></div>
			<p class="profileName">Joni Shelnutt</p>
			<h1>Another closed article after an opened article</h1>
			<p class="articlePostDate">August 25, 2016</p>
		</article>
		<article class="closed">
			<div class="profileAvatar"></div>
			<p class="profileName">Joni Shelnutt</p>
			<h1>Another closed article after an opened article</h1>
			<p class="articlePostDate">August 25, 2016</p>
		</article>

		<div class="endOfFeeds">
			<div class="endOfFeeedsNotice">
				<p>End of feeds</p>
				<p><a href="">View popular posts?</a></p>
			</div>
		</div>
	</div>
</div>